<div><%= f.label :name %><%= f.text_field :name %></div>
<div><%= f.label :grade %><%= f.text_field :grade %></div>
<div><%= f.label :introduction %><%= f.text_area :introduction %></div>
<div>
	<%= f.label :bukatsu_id %>
	<!-- f.collection_select <属性名>, <表示させるモデル>, <渡す値>, <モデルから表示させるカラム>, prompt: <デフォルト表示文字> -->
	<%= f.collection_select :bukatsu_id, Bukatsu.all, :id, :name, prompt: "部活動選択" %></div>
<%= f.submit %>

