<%= flash[:warning] %>
<h1>部活参加フォームの修正</h1>

<%= form_for :student, url: student_path, method: :patch do |f| %>

	<%= render partial: 'form', locals: {:f => f} %>

<% end -%>
<%= link_to "戻る", :back %>