<h1>部活参加済生徒名簿</h1>

<% @students.each do |student| %>
	<table>
	<tr>
		<td>名前：<%= student.name %> / </td>
		<td>学年：<%= student.grade %>年生 / </td>
		<td>詳細：<%= student.introduction %> / </td>
		<td>部活：<%= student.bukatsu.name %></td>
		<td><%= link_to "修正する", edit_student_path(student) %></td>
		<td><%= link_to "削除する", student_path(student), method: :delete, data: { confirm: 'Sure?' } %></td>
		<br>
	</tr>
	</table>
<% end -%>