<%= flash[:warning] %>
<h1>部活参加フォーム</h1>
<!-- routes が resoucesを使っている場合は、@studentを渡すだけで、使うviewに合わせてRailsでうまく処理してくれる -->

<!-- studentモデルを指定し、createのパスに送信する -->
<%= form_for :student, url: students_path do |f| %>
	<%= render partial: 'form', locals: {:f => f} %>
<% end -%>

<%= link_to "戻る", :back %>