<%= flash[:success] %>

<h1><%= @student.name %></h1>
<p><%= @student.grade %>年生</p>
<p>自己紹介：
	<br>
	<%= @student.introduction %></p>
<p>部活：<strong><%= @student.bukatsu.name %></strong></p>

<%= link_to "トップに戻る", root_path %>
<br>
<%= link_to "部活一覧を見る", bukatsues_index_path %>
<br>
<%= link_to "部活動参加生徒名簿を見る", students_path %>