<% if @contents.present? %>

	<h1><%= @contents[0]['artistName'] %></h1>

	<% @contents.each do |content| %>
	<ul>
		<li>title: <%= content['trackName'] %></li>
		<li>released date: <%= content['releaseDate'][0,10] %></li>
		<li><img src="<%= content['artworkUrl60'] %>"></li>
	</ul>
	<% end -%>
<% end -%>




<h1>美しい日本酒</h1>

<% @sakes.each do |sake| %>
	<ul>
		<li>名前： <%= sake['sake_name'] %></li>
		<li>ふりがな <%= sake['sake_furigana'] %></li>
		<li>酒造店： <%= sake['maker_name'] %></li>
		<li>酒造店URL： <a href="<%= sake['maker_url'] %>"><%= sake['maker_url'] %></a></li>
	</ul>
<% end -%>