<h1><%= @bukatsu.name %></h1>
<h2>所属人数：<%= @buins.size %>名</h2>
<% @buins.each do |buin| %>
	<ul>
		<li>名前：<%= link_to buin.name, student_path(buin.id) %> / <%= buin.grade %>年生 / 特徴：<%= buin.introduction %></li>
	</ul>
<% end -%>
